@font-face {
  font-family: 'fixedsys';
  src: url("https://cdn.jsdelivr.net/npm/fixedsys-css@0.0.5/fonts/fsex300-webfont.woff");
}
* {
  font-size: 15pt !important;
  font-family: "fixedsys", monospace;
  color: #0f0;
  background-color: #282828;
}
*::selection {
  color: #282828;
  background-color: #0f0;
}
body {
  background-color: #282828;
  line-height: 1.5;
  width: 100%;
  height: 100%;
  margin: 0;
}
p,
pre {
  margin: 0;
}
table {
  border-collapse: collapse;
}
table td {
  padding: 0 2ch 0 0;
  vertical-align: top;
}
table td:first-of-type {
  font-weight: bold;
}
table td:first-of-type::before {
  content: ">\00a0";
}
a:hover {
  color: #00bf00;
}
#command-line {
  margin: 50px;
}
.prompt {
  margin-top: 2em;
  line-height: 1;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
}
.prompt:first-child {
  margin-top: unset;
}
.ps1 {
  color: #00bf00;
}
.ps1::selection {
  background-color: #00bf00;
}
.cursor {
  animation: cursor-blink 1s steps(1) infinite;
}
.hidden {
  display: none;
}
#skip-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 2px 10px;
  font-size: 1.2em;
  background-color: #505050;
}
#skip-button:hover {
  cursor: pointer;
  filter: brightness(75%);
}
#scan-lines {
  background: repeating-linear-gradient(0deg, transparent 0px, transparent 1px, rgba(0,0,0,0.25) 1px, rgba(0,0,0,0.25) 2px);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
@-moz-keyframes cursor-blink {
  from {
    border-right: solid 1ch #0f0;
  }
  50% {
    border-right: none;
  }
}
@-webkit-keyframes cursor-blink {
  from {
    border-right: solid 1ch #0f0;
  }
  50% {
    border-right: none;
  }
}
@-o-keyframes cursor-blink {
  from {
    border-right: solid 1ch #0f0;
  }
  50% {
    border-right: none;
  }
}
@keyframes cursor-blink {
  from {
    border-right: solid 1ch #0f0;
  }
  50% {
    border-right: none;
  }
}

